Repository kube-rs/kube, pull requests merged in 2021-11, with the labels that each got.

#690 Allow opting out of schema derivation per kind
  CHANGELOG.md
  examples/Cargo.toml
  examples/crd_derive_custom_schema.rs
  examples/crd_derive_no_schema.rs
  kube-derive/Cargo.toml
  kube-derive/src/custom_resource.rs
  kube-derive/src/lib.rs
Labels: derive

#696 Refine more errors
  CHANGELOG.md
  kube-client/src/client/auth/mod.rs
  kube-client/src/client/auth/oauth.rs
  kube-client/src/client/config_ext.rs
  kube-client/src/client/middleware/refresh_token.rs
  kube-client/src/client/mod.rs
  kube-client/src/client/upgrade.rs
  kube-client/src/config/file_config.rs
  kube-client/src/config/file_loader.rs
  kube-client/src/config/incluster_config.rs
  kube-client/src/config/mod.rs
  kube-client/src/config/utils.rs
  kube-client/src/error.rs
Labels: errors

#716 Refine errors for Native TLS
  CHANGELOG.md
  kube-client/src/client/config_ext.rs
  kube-client/src/client/mod.rs
  kube-client/src/client/tls.rs
  kube-client/src/error.rs
Labels: errors

#733 Include the object that failed in controller::Error::ReconcilerFailed
  CHANGELOG.md
  kube-runtime/src/controller/mod.rs
  kube/src/lib.rs
Labels: runtime, errors
